/* Variables */

:root {
  --item-1: 79%;
  --item-2: 17%;
  --item-3: 4%;

  --item-11: 79;
  --item-22: 17;
  --item-33: 4;

  --first-color: #e14c22;
  --second-color: #563c7b;
  --third-color: #c6ba25;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
}

/* Nav Bar */
nav .brand-logo {
  color: #000;
  font-size: 1.4rem;
}

nav a,
nav span {
  color: #000;
}

.row {
  margin: 0;
}

.section {
  padding: 0;
  padding-top: 10px;
}

.card-panel.github {
}

.card-panel img {
  width: 100%;
}


/* Language - dot color */

.section-stats .row .col .card-panel .dot-1 {
  background: var(--first-color);
}

.section-stats .row .col .card-panel .dot-2 {
  background: var(--second-color);
}

.section-stats .row .col .card-panel .dot-3 {
  background: var(--third-color);
}

/* Languages - Progress Bars */

.section-stats .row .col .card-panel .progress .item-1 {
  width: calc(var(--item-1) + var(--item-2) + var(--item-3));
  background: var(--third-color);
}

.section-stats .row .col .card-panel .progress .item-2 {
  width: calc(var(--item-1) + var(--item-2));
  background: var(--second-color);
}

.section-stats .row .col .card-panel .progress .item-3 {
  width: calc(var(--item-1));
  background: var(--first-color);
}

/* Languages Progress Br white spaces */

.section-stats .row .col .card-panel .progress .item-2-2 {
  width: calc(var(--item-1) + var(--item-2) + 1%);
}
.section-stats .row .col .card-panel .progress .item-3-3 {
  width: calc(var(--item-1) + 1%);
}

/* Percents in the specific language div */
.section-stats .row .col .card-panel .item-11:after {
  counter-reset: variable var(--item-11);
  content: counter(variable);
}

.section-stats .row .col .card-panel .item-22:after {
  counter-reset: variable var(--item-22);
  content: counter(variable);
}

.section-stats .row .col .card-panel .item-33:after {
  counter-reset: variable var(--item-33);
  content: counter(variable);
}

/* Progress Bar parameters */

.progress {
  height: 7px;
}


/* Other */
.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}

.login {
  margin-top: 70px;
  margin-bottom: 70px;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.grey .blue .container .nav-wrapper a {
  font-size: 1.5rem;
  margin: 0;
}

.grey .blue .container .nav-wrapper .right a {
  font-size: 1.1rem;
  margin: 0;
}

.section-stats .row .col .card-panel {
  padding: 20px;
}

.section-stats .row .col .card-panel h6 {
  display: block;
  text-align: left;
  font-size: .8rem;
  padding-left: 10px;
}

.section-stats .row .col .card-panel h5 {
  padding-bottom: 10px;
}

.section-stats .row .col .card-panel .dot-1,
.section-stats .row .col .card-panel .dot-2,
.section-stats .row .col .card-panel .dot-3 {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

