@media(max-width:768px){
    #main-nav .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
}

@media(max-width:700px){
    #main-nav .container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    #home-content .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--secondary-color);
    }

    #home-content .container div {
        padding: 1rem;
    }

    #home-content .container div a {
        padding: 1rem;
    }
}