:root {
    --primary-color: #fff;
    --secondary-color: fff;
    --light-color: #f3f3f3;
    --dark-color: #333;
    /* --max-width: 1100px; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Aleo', serif;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Contact BAR */
#contact-section {
    background: #fff;
}

#contact-section .container {
    display: grid;
    grid-template-areas:
    'tel email avatar'
    ;
}

#contact-section .container .contact-container {
}

#contact-section .container .avatar {
    background: url('../img/avatar1.jpg') no-repeat center center/cover;
    width: 60px;
    height: 60px;
}

#contact-section .container .contact-container div:nth-child(even) {
    margin-left: .2rem;
}

#contact-section .container .contact-container div:nth-child(odd) {
    text-align: right;
}

#contact-section .container .contact-container span {
    font-weight: bold;
    text-align: right;
}




/* Navigation BAR */

#main-nav {
    background: #333;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .container .navbar-1 a {
    color: #fff;
}

#main-nav .container img {
    width: 40px;
}

/* Left Side Nav Bar */

#content {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

#content #left-side-nav .left-side-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

#content #left-side-nav .left-side-container a {
    background: #333;
    grid-template-columns: 1fr;
    color: #fff;
    padding: 5px;
}

/* OTHER */

#home-content {
    background: var(--primary-color);
}

#main-nav .home-content {
}

#home-content .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--secondary-color);
    padding: .5rem;
}

#home-content .container div {
    padding: 2rem;
}


#home-content .container .project-div {
    /*background: url(../img/project-preview/hotel-preview-image.jpg) no-repeat center center/cover; */
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    border: #fff solid 1px;
}

#home-content .container div a {
    background: var(--secondary-color);
    color: #333;
    font-weight: bold;
    border-radius: 5px;
}

#home-content .container .project-div .red {
    background: red;
}