:root {
    --primary-color: #fff;
    --secondary-color: fff;
    --light-color: #f3f3f3;
    --dark-color: #333;
    /* --max-width: 1100px; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Navigation BAR */

#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .container img {
    width: 40px;
}



/* OTHER */

#home-content {
    background: var(--primary-color);
}

#home-content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--secondary-color);
}

#home-content div a {
    background: var(--secondary-color);
    color: #333;
    padding: 2rem;
    margin: 1rem;
    font-weight: bold;
    border-radius: 5px;
}